h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

div{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.submitBtnSet{
    padding: 5px;
}

.greenbtn{    
    background-color: royalblue;
    color: white;
    width: 150px;
    height: fit-content;
    margin: 1px;
}

.redbtn{    
    background-color: red;
    color: white;
    width: 150px;
    height: fit-content;
    margin: 1px;
}

.loginLink{
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: .1em;
    margin: 1px;
}




